*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* Content */

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  padding: 105px 0;
}

/* Result */

.result__video-container {
  position: relative;
  width: 712px;
  height: 385px;
  margin-bottom: 15px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 3px 10px 3px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Helvetica, sans-serif;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: inherit;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  background-color: transparent;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73.5px;
}

.more-button {
  margin: 5px;
  padding: 6px 0;
}

/* Content__details */

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 25px;
  font-family: Oswald, Arial, sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 1;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item:last-of-type {
  margin-bottom: 10px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 195px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', Helvetica, sans-serif;
  line-height: 16.2px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  min-width: 195px;
  height: 103px;
  object-fit: contain;
  object-position: center;
}
